{{> head}}
{{> navbar}}
<main class="main page page--author">
   <div class="main__left">
      {{#author}}
         {{#if authorViewConfig.displayFeaturedImage}}
            {{#featuredImage}}
               {{#if url}}
                  <figure class="hero">
                     <img
                        src="{{url}}"
                        {{#if @config.site.responsiveImages}}
                           {{responsiveImageAttributes 'authorImage' srcset sizes}}
                        {{/if}}
                        {{ lazyload "eager" }}
                        height="{{height}}"
                        width="{{width}}"
                        alt="{{alt}}">

                     {{#checkIfAny caption credits}}
                        <figcaption class="hero__caption">
                           {{caption}}
                           {{credits}}
                        </figcaption>
                     {{/checkIfAny}}
                  </figure>
               {{else}}
                  {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                     <figure class="hero">
                        <img
                           src="{{@config.custom.uploadHero}}"
                           {{#if @config.site.responsiveImages}}
                              {{responsiveImageAttributes @config.custom.uploadHero}}
                           {{/if}}
                           {{ lazyload "eager" }}
                           {{imageDimensions @config.custom.uploadHero}}
                           alt="{{@config.custom.uploadHeroAlt}}">

                        {{#if @config.custom.uploadHeroCaption}}
                           <figcaption class="hero__caption">
                              {{@config.custom.uploadHeroCaption}}
                           </figcaption>
                        {{/if}}
                     </figure>
                  {{/checkIfAll}}
               {{/if}}
            {{/featuredImage}}
         {{/if}}
         <header>
            <div class="page--author__bio">  
               {{#if authorViewConfig.displayAvatar}}        
                  {{#if avatar}}
                     <img
                        src="{{avatarImage.url}}"
                        {{ lazyload "eager" }}
                        height="{{avatarImage.height}}"
                        width="{{avatarImage.width}}" 
                        class="page--author__avatar"
                        alt="{{avatarImage.alt}}">
                  {{/if}}
               {{/if}}
               <h1>
                  {{name}}
                  {{#if authorViewConfig.displayPostCounter}}<sup>({{postsNumber}})</sup>{{/if}}
               </h1>
               {{#if authorViewConfig.displayDescription}} 
                  {{#if description}}
                     <div class="page__desc">
                        {{{description}}}
                     </div>
                  {{/if}}
               {{/if}}
               {{#if authorViewConfig.displayWebsite}} 
                  {{#if website}}
                     <div class="page--author__website">
                        <svg height="24" width="24" stroke="currentColor" stroke-width="1" aria-hidden="true">
                           <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#website"/>
                        </svg>
                        <a href="{{website}}" target="_blank" rel="nofollow noreferrer noopener">{{ translate 'author.visitWebsite' }}</a>
                     </div>
                  {{/if}}   
               {{/if}}       
            </div>
         </header>
      {{/author}}
   </div>
   <div class="main__right feed feed--author">
      <div>        
         {{#each posts}}
            <article class="feed__item">
               <header>
                  <h2>
                     <a href="{{url}}">
                        {{title}}
                     </a>
                  </h2>
                  {{#if @config.custom.listingDate}}
                     <div class="post__meta">
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>                   
                     </div>
                  {{/if}}
               </header>

               {{#if hasCustomExcerpt}}
                  {{{ excerpt }}}
               {{else}}
                  <p>{{{ excerpt }}}</p>
               {{/if}}

            </article>
         {{/each}}
         {{> pagination}}
      </div>
   </div>
</main>
{{> footer}}
